.type-16 .mule {
  margin-top: 50px;
}
.type-16 .mule .card-body {
  position: relative;
}
.type-16 .mule .double {
  color: #2e2c2c;
  font-size: 1.2em;
}
.type-16 .mule .double:hover {
  color: #706b6b;
  font-size: 1.2em;
}
.type-16 .mule #money {
  margin-left: 20px;
  color: #a09a9a;
  font-size: 1em;
  display: inline-block;
}
.type-16 .mule .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.type-16 .mule .overlay .icons {
  list-style: none;
  position: absolute;
  right: 10px;
  top: 0;
}
.type-16 .mule .card:hover .overlay {
  opacity: 1;
}
.type-16 .mule .color {
  position: relative;
}
.type-16 .mule .color .black {
  margin: 7px 0;
  float: right;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #000000;
  margin-right: 7px;
}
.type-16 .mule .color .blue {
  margin: 7px 0;
  float: right;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #0c98cf;
}
.type-16 .mule .color .brown {
  margin: 7px 0;
  float: right;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #834c04;
}
.type-16 .mule .color .pink {
  margin: 7px 0;
  float: right;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #e28191;
}
.type-16 .mule .color .yellow {
  margin: 7px 0;
  float: right;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: yellow;
}
.type-16 .mule .color .green {
  margin: 7px 0;
  float: right;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: green;
}
.type-16 .mule .card {
  border: none;
  padding: 10px;
}
.type-16 .mule .card a {
  text-decoration: none;
  font-size: 1.2em;
  color: #000000;
}
.type-16 .mule .card #buy {
  margin-left: 20px;
  visibility: hidden;
}
