.type-15 .collas {
  position: relative;
}
.type-15 .collas .navbar-default {
  background: #fff;
  border: none;
  margin-top: 30px;
}
.type-15 .collas .navbar-default .navbar-nav li {
  margin-left: 70px;
}
.type-15 .collas .navbar-default .navbar-nav li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 2em;
}
.type-15 .collas .navbar-default .navbar-nav li a:hover {
  color: #1daaa3;
  font-size: 2em;
}
.type-15 .collas .style-all {
  visibility: hidden;
  position: absolute;
  margin-top: 20px;
}
.type-15 .collas .style-all .temp {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.type-15 .collas .style-all .dis {
  text-align: center;
  padding-top: 15px;
  font-size: 1.1em;
  color: #645f5f;
}
.type-15 .collas .style-all table tr {
  border-bottom: 1px solid #e6e2e2;
}
.type-15 .collas .style-all table tr .title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  padding: 15px;
  text-transform: uppercase;
}
.type-15 .collas .style-all .number {
  line-height: 3.5;
  color: #353333;
}
.type-15 .collas .style-rev {
  visibility: hidden;
  position: absolute;
  margin-top: 20px;
  width: 100%;
}
.type-15 .collas .style-rev .yet {
  float: left;
}
.type-15 .collas .style-rev .yet .review {
  color: #000;
}
.type-15 .collas .style-rev .condimen {
  float: left;
}
.type-15 .collas .style-rev .condimen .form-check label:hover {
  color: #1daaa3;
}
.type-15 .collas .style-rev .condimen .find {
  font-weight: bold;
  color: #545454;
}
.type-15 .collas .style-rev .condimen .form-control {
  background: #eceaea;
}
.type-15 .collas .style-rev .condimen .btn-sub {
  background: #1daaa3;
  border: 1px solid #d1cbcb;
  color: #fff;
  width: 20%;
  height: 40px;
  margin-top: 15px;
}
.type-15 .collas .style-rev .condimen span {
  color: red;
}
.type-15 .collas .style-rev .condimen .line-two {
  display: inline-block;
  padding-top: 15px;
}
.type-15 .collas .style-rev .condimen .rate {
  display: inline-block;
  height: 46px;
}
.type-15 .collas .style-rev .condimen .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.type-15 .collas .style-rev .condimen .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.type-15 .collas .style-rev .condimen .rate:not(:checked) > label:before {
  content: '★ ';
}
.type-15 .collas .style-rev .condimen .rate > input:checked ~ label {
  color: #ffc700;
}
.type-15 .collas .style-rev .condimen .rate:not(:checked) > label:hover,
.type-15 .collas .style-rev .condimen .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.type-15 .collas .style-rev .condimen .rate > input:checked + label:hover,
.type-15 .collas .style-rev .condimen .rate > input:checked + label:hover ~ label,
.type-15 .collas .style-rev .condimen .rate > input:checked ~ label:hover,
.type-15 .collas .style-rev .condimen .rate > input:checked ~ label:hover ~ label,
.type-15 .collas .style-rev .condimen .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.type-15 .collas .style-ship {
  visibility: hidden;
  margin-top: 40px;
}
.type-15 .collas .style-ship .comm {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8b8686;
  font-size: 1.2em;
  float: right;
}
