.type-8 .maga {
  font-size: 2.5em;
  color: #B57B00;
  text-align: center;
  font-weight: bold;
}
.type-8 a {
  text-decoration: none;
}
.type-8 .st {
  font-size: 17px;
  color: black;
}
.type-8 .t1 {
  top: 60px;
  width: 50px;
  height: 50px;
  left: 200px;
  background: #69bca9;
  color: white;
  position: absolute;
}
.type-8 .t2 {
  top: 60px;
  width: 50px;
  height: 50px;
  background: #69bca9;
  color: white;
  position: absolute;
  left: 580px;
}
.type-8 .t3 {
  top: 60px;
  width: 50px;
  height: 50px;
  background: #69bca9;
  color: white;
  position: absolute;
  left: 959px;
}
.type-8 .hjhj {
  top: -100px;
}
.type-8 .pp {
  top: 100px;
}
.type-8 .hnhn {
  position: absolute;
  background: #fff;
  height: 55px;
  width: 55px;
  top: 10px;
  left: 15px;
  color: #4bc4ba;
}
.type-8 .hnhn span {
  text-align: center;
  display: block;
  padding-top: 5px;
}
