.type-12 {
  margin-top: 30px;
}
.type-12 *:focus {
  outline: none;
}
.type-12 img {
  width: 100%;
}
.type-12 .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.type-12 .swiper-slide {
  background-size: cover;
  background-position: center;
}
.type-12 .gallery-top {
  height: 80%;
  width: 100%;
}
.type-12 .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.type-12 .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.type-12 .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.type-12 .swiper-button-next.swiper-button-white,
.type-12 .swiper-button-prev.swiper-button-white {
  --swiper-navigation-color: #75451f;
}
.type-12 .pro-name h4 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 38px;
}
.type-12 .price {
  margin: 20px 0;
  color: #179a94;
  font-size: 28px;
}
.type-12 .detail {
  color: #4C4C4C;
  padding-bottom: 10px;
}
.type-12 .quantity {
  margin-bottom: 20px;
  display: inline-block;
}
.type-12 .quantity .input-text.qty {
  width: 48px;
  height: 38px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
  margin: 0 -4px;
}
.type-12 .quantity .buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}
.type-12 .quantity .buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
.type-12 .quantity .buttons_added .minus {
  border-right: 0;
}
.type-12 .quantity .buttons_added .plus {
  border-left: 0;
}
.type-12 .quantity.buttons_added .minus,
.type-12 .quantity.buttons_added .plus {
  padding: 7px 10px;
  height: 38px;
  background-color: #F4F4F4;
  border: 1px solid #efefef;
  cursor: pointer;
}
.type-12 .quantity.buttons_added .minus:hover,
.type-12 .quantity.buttons_added .plus:hover {
  background: #eeeeee;
}
.type-12 .quantity input::-webkit-outer-spin-button,
.type-12 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.type-12 .quantity.buttons_added .minus:focus,
.type-12 .quantity.buttons_added .plus:focus {
  outline: none;
}
.type-12 .addCart {
  display: inline;
}
.type-12 .addCart .btn-cart {
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 9px 7px;
  margin-left: 23px;
  font-weight: bold;
  width: 140px;
}
.type-12 .addCart .btn-cart:hover {
  background: #333;
}
.type-12 .wishlist {
  display: inline-block;
  margin-left: 10px;
}
.type-12 .wishlist a {
  font-size: 14px;
  line-height: 1.5;
  color: #4E4E4E;
  text-decoration: none;
}
.type-12 .wishlist a:hover {
  color: #1daaa3;
}
.type-12 .compare {
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.type-12 .compare a {
  font-size: 14px;
  line-height: 1.5;
  color: #4E4E4E;
  text-decoration: none;
}
.type-12 .compare a:hover {
  color: #1daaa3;
}
.type-12 .category {
  color: #000;
  margin: 30px 0;
}
.type-12 .category a {
  font-weight: 300;
  color: #202020;
}
.type-12 .category a:hover {
  text-decoration: none;
}
.type-12 .share {
  font-weight: 500;
  color: #000;
  display: block;
  text-align: left;
  margin: 10px 0;
}
.type-12 .share a {
  color: #b1abab;
}
.type-12 .share .social-icons {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.type-12 .share ul {
  list-style: none;
}
.type-12 .share ul li {
  display: inline-block;
}
.type-12 .share ul li a {
  padding: 0 5px;
  color: #676767;
}
.type-12 .share ul li a:hover {
  text-decoration: none;
  padding: 0 5px;
  color: #1daaa3;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
