.type-20 {
  padding: 50px 0px;
}
.type-20 .header {
  margin-top: 3%;
}
.type-20 .header .cus {
  font-size: 1.2em;
  color: #8d8989;
}
.type-20 .header .login {
  color: #070607;
  text-decoration: none;
}
.type-20 .header .login:hover {
  color: #4120d1;
}
.type-20 .left .bill {
  text-transform: uppercase;
  font-weight: bold;
}
.type-20 .left .bill .icon {
  color: red;
}
.type-20 .left .btn-group {
  width: 100%;
}
.type-20 .left .btn-group button.btn.btn-default.dropdown-toggle {
  float: left;
  width: 100%;
}
.type-20 .left .btn-group .scrollable-menu {
  height: auto;
  width: 554px;
  max-height: 200px;
  overflow-x: hidden;
  text-align: center;
}
.type-20 .left .btn-group .caret {
  float: right;
}
.type-20 .left .form-add {
  font-size: 1.2em;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.type-20 .left .form-note {
  margin-top: 20px;
}
.type-20 .right {
  height: auto;
  background: #eeecec;
  background-repeat: no-repeat;
}
.type-20 .right .code {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.type-20 .right .bord {
  padding: 35px;
  margin: 20px;
  background: #fff;
}
.type-20 .right .bord .pro {
  padding: 15px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #d8cdcd;
}
.type-20 .right .bord .total {
  padding: 15px;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 1px solid #d8cdcd;
}
.type-20 .right .bord .pro-name {
  border-bottom: 1px solid #d8cdcd;
  padding: 15px;
}
.type-20 .right .bord .pro-quantity {
  padding: 1px;
}
.type-20 .right .bord .dola {
  color: #bdb6b6;
  float: right;
  padding: 12px;
}
.type-20 .right .form-check {
  font-size: 0.8em;
  margin: auto;
  text-align: right;
}
.type-20 .right .pro-name {
  border-bottom: 1px solid #d8cdcd;
  padding: 15px;
}
.type-20 .right .pro-name .sys {
  color: #5bc0de;
  font-size: 2em;
  font-weight: bold;
}
.type-20 .right .order {
  padding: 5px;
  margin: 20px;
  background: #eeecec;
}
.type-20 .right .order .pay {
  margin-top: 15px;
  padding: 15px;
  border: 2px solid #d1cece;
}
.type-20 .right .order .per {
  line-height: 2;
}
.type-20 .right .order .poli {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.type-20 .right .form-box .icon {
  color: red;
}
.type-20 .right .btn.btn-info {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 25px;
}
