.type-16 {
    .mule{
        margin-top: 50px; 
        
        .double{
            color: #2e2c2c;
            font-size: 1.2em;
           
        }
        .double:hover{
            color: #706b6b;
            font-size: 1.2em;
        }
       
        #money{          
                margin-left: 20px;
                color: #a09a9a;
                font-size: 1em;
                display: inline-block;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height:auto;
            width: auto;
            opacity: 0;
            transition: .5s ease;
            background-color: #ffffff;
          }
          
          .hover:hover .overlay {
            opacity: 1;     
          }
        
        .color{
            position: relative;
            .black{ 
                margin: 7px 0;
                float: right;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                background: #000000;
                margin-right: 7px;
            }
            .blue{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(12, 152, 207);
            }
            .brown{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(131, 76, 4);
            }
            .pink{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(226, 129, 145);
            }
            .yellow{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: yellow;
            }
            .green{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: green;
            }
        }
        .card{
            border: none;
            padding: 10px;
            a{
                text-decoration: none;
                font-size: 1.2em;
                color: #000000;
            }
            #buy{
                margin-left: 20px;
                visibility: hidden;
            }
        }
    }

}
