.type-16 {
    .mule{
        margin-top: 50px; 
        
        .btn{
            margin-top: 10px;
            color: #2e2c2c;
            font-size: 1.2em;
        }
        .btn:hover{
            color: #706b6b;
            font-size: 1.2em;
        }
        .card-title{
            margin-left: 10px;
            color: #706b6b;
            font-size: 1.2em;
            display: inline-block;
        }
        .color{
            position: relative;
            .black{ 
                margin: 7px 0;
                float: right;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                background: #000000;
            }
            .blue{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(12, 152, 207);
            }
            .brown{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(131, 76, 4);
            }
            .pink{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: rgb(226, 129, 145);
            }
            .yellow{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: yellow;
            }
            .green{
                margin: 7px 0;
                float: right;
                margin-right: 7px;
                width: 15px;
                height: 15px;
                display: inline-block;
                border-radius: 50%;
                background: green;
            }
        }
        .card{
            border: none;
            margin-left: 10px;
            margin-top: 5px;
            a{
                text-decoration: none;
                font-size: 1.2em;
                color: #000000;
            }
        }
    }

}
