.type-20 {
    padding: 50px 0px;

    //head
    .header {
        margin-top: 3%;

        .cus {
            font-size: 1.2em;
            color: #8d8989;
        }

        .login {
            color: #070607;
            text-decoration: none;
        }

        .login:hover {
            color: #4120d1;
        }
    }

    //col-left
    .left {
        .bill {
            text-transform: uppercase;
            font-weight: bold;

            .icon {
                color: red;
            }
        }

        .btn-group {
            width: 100%;

            button.btn.btn-default.dropdown-toggle {
                float: left;
                width: 100%;
            }

            .scrollable-menu {
                height: auto;
                width: 554px;
                max-height: 200px;
                overflow-x: hidden;
                text-align: center;
            }

            .caret {
                float: right;
            }
        }

        .form-add {
            font-size: 1.2em;
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .form-note {
            margin-top: 20px;
        }
    }

    //col-right
    .right {
        height: auto;
        background: #eeecec;
        background-repeat: no-repeat;

        .code {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .bord {
            padding: 35px;
            margin: 20px;
            background: #fff;
          
            .pro {
                padding: 15px;
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                border-bottom: 1px solid #d8cdcd;
            }

            .total {
                padding: 15px;
                width: 100%;
                text-align: right;
                text-transform: uppercase;
                border-bottom: 1px solid #d8cdcd;
            }

            .pro-name {
                border-bottom: 1px solid #d8cdcd;
                padding: 15px;
            }

            .pro-quantity {
                padding: 1px;
            }

            .dola {
                color: #bdb6b6;
                float: right;
                padding: 12px;
            }
        }

        .form-check {
            font-size: 0.8em;
            margin: auto;
            text-align: right;
        }

        .pro-name {
            border-bottom: 1px solid #d8cdcd;
            padding: 15px;

            .sys {
                color: #5bc0de;
                font-size: 2em;
                font-weight: bold;
            }
        }

        .order {
            padding: 5px;
            margin: 20px;
            background: #eeecec;

            .pay {
                margin-top: 15px;
                padding: 15px;
                border: 2px solid #d1cece;
            }

            .per {
                line-height: 2;
            }

            .poli {
                color: #000000;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .form-box {
            .icon {
                color: red;
            }

        }
        .btn.btn-info {
            width: 100%;
            text-transform: uppercase;
            font-size: 1.5em;
            margin-top: 25px;
        }
    }

}