.type-18 .lobor {
  padding-top: 45px;
  text-transform: capitalize;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 1.2;
}
.type-18 .varius {
  padding-top: 25px;
  color: #807b7b;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
  font-family: "Consolas";
}
.type-18 .all-icon {
  margin-top: 7%;
  margin-left: 22%;
}
.type-18 #icon {
  font-size: 1.5em;
  margin-left: 3%;
  padding: 20px;
  color: #807b7b;
  border-radius: 50%;
  background: #eceaea;
}
.type-18 #icon:hover {
  font-size: 1.5em;
  margin-left: 3%;
  padding: 20px;
  color: #807b7b;
  border-radius: 50%;
  background: #9e9a9a;
}
