.type-18 .content {
  margin-top: 70px;
}
.type-18 .content .lobor {
  padding-top: 45px;
  text-transform: capitalize;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 1.2;
}
.type-18 .content .varius {
  padding-top: 25px;
  color: #807b7b;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
  font-family: "Consolas";
}
.type-18 .content .all-icon {
  width: 100%;
  margin-top: 15%;
  position: absolute;
  left: 20%;
}
.type-18 .content .all-icon #icon {
  font-size: 1.2em;
  margin-left: 3%;
  padding: 15px;
  color: #807b7b;
  border-radius: 50%;
  background: #eceaea;
}
.type-18 .content .all-icon #icon:hover {
  font-size: 1.2em;
  margin-left: 3%;
  padding: 15px;
  color: #d6cfcf;
  border-radius: 50%;
  background: #9e9a9a;
}
.type-18 .content .logo {
  width: 30%;
  height: auto;
  position: absolute;
  left: 30%;
}
