.type-6 .all-content {
  margin-top: 15%;
}
.type-6 .all-content .example {
  font-size: 3.5em;
  color: #b57b00;
  line-height: 1;
  text-align: center;
  font-family: "Monotype Corsiva";
  font-style: italic;
  font-weight: bold;
}
.type-6 .all-content .shoes {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: #000;
}
.type-6 .all-content .content {
  text-align: center;
  color: #696666;
  font-size: 1.1em;
  line-height: 1.6;
  padding-top: 15px;
}
.type-6 .all-content .content-two {
  padding-top: 10px;
  text-align: center;
  color: #696666;
  font-size: 1.1em;
  line-height: 1.6;
}
.type-6 .all-content .btn-read {
  text-align: center;
  padding-top: 20px;
}
.type-6 .all-content .btn-read .btn {
  text-transform: uppercase;
  background: #b57b00;
  color: #fff;
  width: auto;
  padding: 10px 20px;
  border-radius: 25px;
}
@media (min-width: 500px) {
  .type-6 .images-two {
    margin-top: 10px;
  }
  .type-6 .images-two img {
    width: 100% !important;
    padding: 10px;
  }
}
