  .type-19 {
  
      ul{
        text-decoration: none;
        list-style: none;   
      }
     li.three{
       display: inline-block;
       text-decoration: none;
       a{
        color: #000000;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 30px 10px;
       }
       a:hover{
        color: #207e81;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        padding: 30px 10px;
        text-decoration: none;
       }
     }
     .three-dis{
        margin-top: 5%;
        margin-left: 15%;
     }

     //click
 
     #sale{
      visibility: hidden;
      position: absolute;
      margin:auto;
     
     }
     #review{
      visibility: hidden;
      position: absolute;
      margin:auto;
    
     }
     
     #shipping {
      visibility: hidden;
      position: absolute;
      margin:auto;
     }
     //Sale
     .ask{
       margin-top: 40px;
       border: 5px solid #e7ecec;
       height: 650px;
     }
     .btn{
       margin-top: 30px;
       padding: 10px;
        background: #207e81;
        color: #ffffff;
      }
     .bol{
       font-weight: bold;
     }
     .lorem{
       line-height: 2;
       color: #a3a7a7;
       font-size: 1.2em;
      }
     .form-group{
      margin-top: 30px;
     }
    .row{
      margin-top:40px;
      padding: 0 10px;
   }
    .clickable{
        cursor: pointer;   
    }
    
    .panel-heading span {
      margin-top: -20px;
      font-size: 15px;
    }
  //dropdown
  .drop{
    margin-top: 40px;
  }
}
