.type-1 .top-header {
  background: #1daaa3;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding-top: 15px;
  width: 100%;
}
.type-1 .top-header .item-left span {
  color: #f8f8f8;
}
.type-1 .top-header .item-right {
  margin-right: 25px;
  float: right;
}
.type-1 .top-header .item-right li {
  list-style: none;
  display: inline-block;
}
.type-1 .top-header .item-right li a {
  color: #ffffff;
  text-decoration: none;
}
.type-1 .top-header .item-right li a:hover {
  color: #000000;
}
.type-1 .top-header .item-right li:before {
  content: " ";
  display: inline-block;
  height: 25px;
  width: 1px;
  background-color: rgba(0,0,0,0.05);
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.type-1 .menu {
  background: #F8F8F8;
  height: 56px;
}
.type-1 .menu .navbar-default {
  border: none;
}
.type-1 .menu ul li a:hover {
  color: #1daaa3;
}
.type-1 .menu .img-logo {
  max-width: 190px;
  padding-right: 20px;
  margin-left: -16px;
}
.type-1 .menu .top-right form.example input[type=text] {
  padding: 6px;
  font-size: 1.2em;
  border: 1px solid #c0baba;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-top: 5px;
}
.type-1 .menu .top-right form.example button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #1daaa3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 5px;
}
.type-1 .menu .top-right form.example button:hover {
  background: #3dcec7;
}
.type-1 .menu .top-right form.example::after {
  content: "";
  clear: both;
  display: table;
}
.type-1 .menu .top-right .nav-link {
  font-style: italic;
  padding-right: 30px;
  font-size: 1.2em;
}
.type-1 .menu .top-right .item-cart {
  margin-top: -14px;
  margin-bottom: -12px;
}
.type-1 .menu .top-right .item-cart .cart-button {
  line-height: 45px;
  color: #a8b0b0;
  font-size: 1.4em;
}
.type-1 .menu .top-right .item-cart .cart-button:hover {
  line-height: 45px;
  color: #1daaa3;
  font-size: 1.4em;
}
@media screen and (max-height: 450px) {
  .type-1 .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 691px) {
  .type-1 .top-header .item-left {
    text-align: center;
  }
  .type-1 .top-header .item-right {
    width: 95%;
    text-align: center;
  }
  .type-1 .menu #collapsibleNavId {
    position: absolute;
    background: #F8F9FA;
    z-index: 1;
    top: 3.5em;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }
  .type-1 .menu .img-logo {
    margin-left: 0 !important;
  }
  .type-1 .menu .top-right .item-cart .cart-button {
    margin-right: 800px !important;
    width: 30px !important;
    height: 30px !important;
  }
}
